- var name = "Sylvain DOIGNON"
- var profilePicUrl = "https://github.com/sd65.png"
- var profilePicUrlMini = "https://avatars2.githubusercontent.com/u/4440388?v=3&s=150"
- var githubProfile = "https://github.com/sd65"
- var linkedinProfile = "https://www.linkedin.com/in/sylvain-doignon"
- var sourceWebsite = "https://github.com/sd65/sd65.github.io"
- var resumeLink = "https://github.com/sd65/CV/raw/master/CV_Sylvain-Doignon.pdf"
- var resumeThumbnail = "https://raw.githubusercontent.com/sd65/CV/master/CV_Sylvain-Doignon.thumbnail.png"
- var emailAddress = "sylvain.doignon@gmail.com"
- var about = "Technology enthusiast. Love to solve all kinds of problems."
