extends .layout.inc.pug

block vars
  - var title = "About"
  - metaDescription = "Welcome to my personal website. Find here my bio, resume and contact information."

block content
  section#aboutme
    h2 Contact me
    a(href="mailto:" + emailAddress)
      i.fa.fa-envelope-o
      | 
      | #{emailAddress} 
    h2 My resume
    a(href=resumeLink)
      img(src=resumeThumbnail)
