extends .layout.inc.pug

block content
  section#aboutme
    h2 Bio
    p TODO
    h2 Contact me
    a(href="mailto:" + emailAddress)
      i.fa.fa-envelope-o
      | 
      | #{emailAddress} 
    h2 My resume
    a(href=resumeLink)
      img(src=resumeThumbnail)
