extends .layout.inc.pug

block vars
  - var title = "Blog"
  - metaDescription = "My blog."

block meta
  meta(name="robots", content="noindex")

block content
  section#blog
   h2 Blog
   p No articles for now.

