extends .layout.inc.pug

block vars
  - var title = "Blog"
  - metaDescription = "My blog."

block meta
  meta(name="robots", content="noindex")

block content
  section#blog
   p(style="padding: 400px") No articles for now.

