extends .layout.inc.pug

block content
  section#projects
    svg#redLine
      line(x1='0', y1='0', x2='0', y2='100%')
    svg#redCircle
      circle(cx='40', cy='40', r='40')
      text(x="50%", y="55%") Now
    +project("April 2017", "This website", "#", "https://www.w3.org/html/logo/downloads/HTML5_Badge_512.png")
      p Made from scratch.
      p Easily editable & hosted on Github.
      p Features:
      ul
        li Npm to update / build
        li Pug
        li Less
    +project("December 2016", "My Terminal Dashboard", "https://github.com/sd65/MyTerminalDashboard", "https://raw.githubusercontent.com/sd65/MyTerminalDashboard/master/screenshots/screen1.png")
      p Terminal dashboard
    +project("November 2016", "Astronomy Picture of the Day", "https://github.com/sd65/Astronomy-Picture-of-the-Day", "https://lh3.googleusercontent.com/oiq7l9HuqPVw0aBTcp9LhWJ5gzakdqzu_dK70gnSofV2dNuhH1S4lcUbpKJ4S7T3tzw=h900")
      p Android App
    +project("November 2016", "MiniList", "https://github.com/sd65/MiniList", "https://lh3.googleusercontent.com/cOE9SoDG3nfttLsd6XjatnO99QXyUf7vWyKyZOKAzoRn8UhdcyLLhW9IojxeL4CN6jY=h900")
    +project("November 2016", "Temperature Convertor", "https://github.com/sd65/Temperature-Convertor", "https://lh3.googleusercontent.com/7mlyOrQmbwWtPhnlKsmdGkEkhHmCm29N1CLfKQoK6cAjbxufccFXI-JFb6MRwCIQbQ=h900")
    +project("October 2016", "WM8650", "", "http://www.lowbuying.com/product_image/7-inch-Mini-Netbook-Laptop-VIA-WM8650-WIFI-android-2.2-OS-256MB-RAM-2GB-HD-6.jpg")
    +project("September 2016", "My dotfiles", "", "")
    +project("May 2016", "MiniVim", "https://github.com/sd65/MiniVim", "https://raw.githubusercontent.com/sd65/MiniVim/master/Screenshot.png")
    +project("March 2016", "Screensaver SVG-JS", "https://github.com/sd65/screensaver-SVG-JS", "")
    +project("February 2016", "Human2Cat Chrome Extension", "https://github.com/sd65/Human2Cat-Chrome-Extension", "https://lh3.googleusercontent.com/DFRa6b9QYixwd2cJFlVO3OSZRVllTHLpLNjciKrmrKl75I_yWsKPWGQH9nXPAMTCiCmmXlXg=s640-h400-e365")
    +project("February 2016", "Human2Cat Language", "https://github.com/sd65/Human2Cat-Website", "https://lh3.googleusercontent.com/DFRa6b9QYixwd2cJFlVO3OSZRVllTHLpLNjciKrmrKl75I_yWsKPWGQH9nXPAMTCiCmmXlXg=s640-h400-e365")
    +project("November 2016", "", "", "")
