extends .layout.inc.pug

block content
  section#projects
    //    svg#redCircle
    //      circle(cx='0', cy='0', r='40')
    article
      .info
        h2 Title
        p Details
      .visual
        img(src="https://camo.githubusercontent.com/6ac5da95343b439c985c9e18ac395de72a103c9a/68747470733a2f2f7261772e6769746875622e636f6d2f736436352f50726f6a6563742d43616c656e6461722f6d61737465722f73637265656e2e706e67")
    article
      .info
        h2 Title 2
        p Details 2
      .visual
        img(src="https://camo.githubusercontent.com/6ac5da95343b439c985c9e18ac395de72a103c9a/68747470733a2f2f7261772e6769746875622e636f6d2f736436352f50726f6a6563742d43616c656e6461722f6d61737465722f73637265656e2e706e67")
    svg#redLine
      line(x1='0', y1='0', x2='0', y2='100%')

