extends .layout.inc.pug

block content
  section#projects
    svg#redLine
      line(x1='0', y1='0', x2='0', y2='100%')
    svg#redCircle
      circle(cx='40', cy='40', r='40')
      text(x="50%", y="55%") Now
    article
      .info
        span.date 04/04/2017
        h2 Title
        p Details
      .visual
        img(src="https://camo.githubusercontent.com/6ac5da95343b439c985c9e18ac395de72a103c9a/68747470733a2f2f7261772e6769746875622e636f6d2f736436352f50726f6a6563742d43616c656e6461722f6d61737465722f73637265656e2e706e67")
    article
      .info
        span.date 01/12/2016
        h2 Title 2
        p Details 2
      .visual
        img(src="https://camo.githubusercontent.com/6ac5da95343b439c985c9e18ac395de72a103c9a/68747470733a2f2f7261772e6769746875622e636f6d2f736436352f50726f6a6563742d43616c656e6461722f6d61737465722f73637265656e2e706e67")

