@import (less) "dist/normalize.css";

@headerBackground: black;
@headerForeground: white;
@break-mobile: 600px;

html, body { 
  width: 100%;
  min-height: 100%;
  margin: 0;
}

header {
  background-color: @headerBackground;
  color: @headerForeground;
  margin: 0;
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  #me {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100px;
      margin-right: 20px;
    }
  }
}

section#projects {
  position: relative;
  article {
    overflow: hidden;
    margin-bottom: 30px;
    clear: both;
     > div {
      width: ~"calc(50% - 5px)";
      display: inline-block;
      vertical-align: top;
    }
    .info {
      border-top: 2px solid red;
      .date {
        background: red;
        color: white;
        padding: 0 10px;
      }
    }
    .visual {
      img {
        width: 100%;
      }
    }
    &:nth-child(odd) .info { 
      float:left; 
    }
    &:nth-child(even) .info {
       float:right;
    }
    &:nth-child(odd) .visual { 
      float:right; 
    }
    &:nth-child(even) .visual {
       float:left;
    }
  }
  svg#redCircle {
    @width: 80;
    position: relative;
    top: 0;
    left: ~"calc(50% - " @width / 2 * 1px ~")";
    width: @width * 1px;
    height: @width * 1px;
    margin: 40px 0;
    circle {
      fill: red;
    }
    text {
      fill: white;
      stroke: white;
      stroke-width: 1.3px;
      text-anchor: middle;
    }
  }
  svg#redLine {
    @width: 20;
    position: absolute;
    top: 60;
    left: ~"calc(50% - " @width / 4 * 1px ~")";
    height: 100%;
    width: @width * 1px;
    line {
      stroke: red;
      stroke-width: @width * 1px;
    }
  }
}

footer {
  clear: both;
}

@media screen and (max-width: @break-mobile) {
  section#projects {
    .visual {
      clear: both
    }
    article {
      margin-left: 10px;
    }
    .visual, .info {
      width: 100%;
    }
    svg#redLine{
      left: 0
    }
    svg#redCircle {
      left: -40;
      text {
        transform: translate(20px,0px);
      }
    }
  }
}
